body {
  font-family: sans-serif;
  font-size: 14pt;
}

.album {
  font-size: 1em;
  font-variant: small-caps;
  padding-left: 125px;
}

.title {
  font-size: 2em;
  font-variant: small-caps;
  padding-left: 100px;
  line-height: 1em;
}

.sectiontitle {
  padding-top: 1em;
  font-size: 0.5em;
  text-transform: uppercase;
}

.lyrics {
  padding-left: 30px;
  line-height: 2em;
}

.justlyrics {
  padding-left: 30px;
  line-height: 1.5em;
}

.chord {
  font-size: 0.8em;
  font-weight: bold;
  line-height: initial;
  position: absolute;
  bottom: 1.2em;
}

.chords {
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 30px;
}

.chord-holder {
  position: relative;
}

.tabs {
  font-size: 0.65em;
  padding-left: 30px;
}

.pagebreak {
  page-break-before: always;
}

.tabline {
  height: 1em;
  position: relative;
  border-top: 1px solid black;
  display: inline-block;
  top: 0.5em;
}

.tabchordline {
  height: 1em;
  position: relative;
  display: inline-block;
  top: 0.5em;
}

.tabcharholder {
  position: absolute;
  top: -0.5em;
}

.tabchar {
  display: block;
  font-size: 0.8em;
  background-color: white;
  margin: -2px;
  padding: 2px;
  border: 1px solid black;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  text-align: center;
  border-radius: 100px;
}

.tabchordholder {
  position: absolute;
  bottom: 0;
}

.tabchord {
  font-weight: bold;
  font-size: 1.2em;
}
