body {
  font-family: sans-serif;
  font-size: 14pt;
}

/* Header */
.album {
  font-size: 1em;
  font-variant: small-caps;
  padding-left: 125px;
}

.title {
  font-size: 2em;
  font-variant: small-caps;
  padding-left: 100px;
  line-height: 1em;
}


/* Padding on everything except section titles */
.lyrics, .justlyrics, .chords, .tabs {
  padding-left: 40px;
}

/* Section title */
.sectiontitle {
  padding-top: 1em;
  font-size: 0.5em;
  text-transform: uppercase;
}

/* Lyrics */
.lyrics {
  line-height: 2em;
}

.justlyrics {
  line-height: 1.5em;
}

/* Chords */
.chord {
  font-size: 0.8em;
  font-weight: bold;
  line-height: initial;
  position: absolute;
  bottom: 1.2em;
  white-space: nowrap;
}

.chords {
  font-size: 0.8em;
  font-weight: bold;
}

.chord-holder {
  position: relative;
}

/* Tabs */
.tabs {
  font-size: 0.65em;
}

.tabline {
  height: 1.5em;
  position: relative;
  display: inline-block;
  border-left-style: double;
  border-right-style: double;
}

.tabhorizline {
  position: absolute;
  border-top: 1px solid black;
  top: 0.75em;
  width: 100%;
}

.tabchordline {
  height: 1em;
  position: relative;
  display: inline-block;
  top: 0.5em;
}

.tabcharholder {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.tabchar {
  display: block;
  font-size: 1em;
  background-color: white;
  margin: -2px;
  padding: 2px;
  width: 1em;
  height: 1em;
  text-align: center;
  border-radius: 100px;
}

.tabchordholder {
  position: absolute;
  bottom: 0.5em;
}

.tabchord {
  font-weight: bold;
  font-size: 1.2em;
}

/* Pagination */
.pagebreak {
  page-break-before: always;
}

.song {
  page-break-after: always;
}
.song:last-child {
  page-break-after: avoid;
}

/* Special considerations for displaying in the browser */
@media screen {
  .song {
    padding-left: 40px;
    border-bottom: 1px dotted black;
    padding-bottom: 3em;
    margin-bottom: 3em;
  }
  .song:first-child {
    padding-top: 30px;
  }
  .song:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
